#about_inner {
  background-attachment: fixed;
  margin: 0 auto;
  background-color: rgb(205, 185, 214);
  background-image: url(http://www.matcl.com/files/attach/images/2791205/708/840/002/e8932d2eadbb6d0b937c47481ebe1c34.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

/* About */
#container {
  width: 900px;
  height: 1500px;
  margin: 0 auto;
  position: relative;
  background-color: rgb(205, 185, 214);
  opacity: 0.7;
}

#profile-image {
  width: 200px;
  height: 200px;
  background-size: 100% 100%;
  background-image: url(../images/image.jpg);
  border-radius: 50%;
  margin-bottom: 30px;
}

aside {
  float: left;
  width: 300px;
  padding: 20px 30px;
  height: 950px;
  font-weight: 700;
}

#container main {
  width: 530px;
  height: 100%;
  color: black;
  float: right;
  font-weight: 700;
  line-height: 2;
}

.subtitle li,
p {
  line-height: 3;
  font-size: 0.9em;
}

#detail {
  position: relative;
  top: 80px;
}

#sns {
  position: relative;
  top: 100px;
}

#container main > section {
  padding: 50px;
  margin: 10px;
  border-bottom: 1px double #222;
}

#container main > section > p,
#container main > section > table {
  margin-left: 50px;
}

aside h1 {
  font-size: 1.8em;
  font-variant: small-caps;
}

aside h2 {
  font-size: 1.2em;
}

#namecard h1,
h2,
p {
  padding: 10px;
  border-radius: 5px;
}

#namecard p {
  font-size: 0.9em;
  color: #222;
}

.subtitle {
  font-size: 1.5em;
  line-height: 0.9em;
}

#container main > section > p {
  font-size: 0.9em;
}

caption {
  margin-bottom: 10px;
  font-weight: 900;
}

table {
  width: 90%;
  border: 1px solid;
  border-collapse: collapse;
}

th {
  font-weight: 900;
}

td {
  font-weight: 600;
}

th,
td {
  border: 1px solid #fff;
  padding: 10px;
  font-size: 0.9em;
  color: #222;
}

a {
  color: #222;
  text-decoration: none;
}

#sns > ul {
  padding-left: 0;
}

#sns > ul > li {
  display: inline-block;
  width: 80px;
}
